/*
Error: Invalid CSS after "...e7d08da82918d41": expected "{", was "}"
        on line 473 of /home/tenpiece/public_html/sites/all/themes/tenpiece/sass/components/_tenpiece.scss
        from line 20 of /home/tenpiece/public_html/sites/all/themes/tenpiece/sass/styles.scss

468:   @include res(s-m){
469:     width: 100%;
470:     padding: 0;
471:   }
472: >>>>>>> e7028931de020033db462b3c2e7d08da82918d41
473: }
474: /************** products *****************\/
475: 
476: .view-products{
477:   margin-top: 20px;
478:   .views-row{

Backtrace:
/home/tenpiece/public_html/sites/all/themes/tenpiece/sass/components/_tenpiece.scss:473
/home/tenpiece/public_html/sites/all/themes/tenpiece/sass/styles.scss:20
/usr/local/rubies/ruby-2.1.6/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/scss/parser.rb:1165:in `expected'
/usr/local/rubies/ruby-2.1.6/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/scss/parser.rb:1101:in `expected'
/usr/local/rubies/ruby-2.1.6/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/scss/parser.rb:1096:in `tok!'
/usr/local/rubies/ruby-2.1.6/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/scss/parser.rb:641:in `block'
/usr/local/rubies/ruby-2.1.6/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/scss/parser.rb:711:in `declaration_or_ruleset'
/usr/local/rubies/ruby-2.1.6/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/scss/parser.rb:661:in `block_child'
/usr/local/rubies/ruby-2.1.6/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/scss/parser.rb:653:in `block_contents'
/usr/local/rubies/ruby-2.1.6/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/scss/parser.rb:642:in `block'
/usr/local/rubies/ruby-2.1.6/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/scss/parser.rb:711:in `declaration_or_ruleset'
/usr/local/rubies/ruby-2.1.6/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/scss/parser.rb:661:in `block_child'
/usr/local/rubies/ruby-2.1.6/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/scss/parser.rb:653:in `block_contents'
/usr/local/rubies/ruby-2.1.6/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/scss/parser.rb:642:in `block'
/usr/local/rubies/ruby-2.1.6/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/scss/parser.rb:635:in `ruleset'
/usr/local/rubies/ruby-2.1.6/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/scss/parser.rb:660:in `block_child'
/usr/local/rubies/ruby-2.1.6/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/scss/parser.rb:653:in `block_contents'
/usr/local/rubies/ruby-2.1.6/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/scss/parser.rb:117:in `stylesheet'
/usr/local/rubies/ruby-2.1.6/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/scss/parser.rb:42:in `parse'
/usr/local/rubies/ruby-2.1.6/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/engine.rb:393:in `_to_tree'
/usr/local/rubies/ruby-2.1.6/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/engine.rb:299:in `to_tree'
/usr/local/rubies/ruby-2.1.6/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:323:in `block in visit_import'
/usr/local/rubies/ruby-2.1.6/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/stack.rb:88:in `block in with_import'
/usr/local/rubies/ruby-2.1.6/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/stack.rb:115:in `with_frame'
/usr/local/rubies/ruby-2.1.6/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/stack.rb:88:in `with_import'
/usr/local/rubies/ruby-2.1.6/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:322:in `visit_import'
/usr/local/rubies/ruby-2.1.6/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/local/rubies/ruby-2.1.6/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/usr/local/rubies/ruby-2.1.6/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/stack.rb:79:in `block in with_base'
/usr/local/rubies/ruby-2.1.6/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/stack.rb:115:in `with_frame'
/usr/local/rubies/ruby-2.1.6/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/stack.rb:79:in `with_base'
/usr/local/rubies/ruby-2.1.6/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:158:in `visit'
/usr/local/rubies/ruby-2.1.6/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/usr/local/rubies/ruby-2.1.6/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:52:in `map'
/usr/local/rubies/ruby-2.1.6/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/usr/local/rubies/ruby-2.1.6/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/usr/local/rubies/ruby-2.1.6/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/usr/local/rubies/ruby-2.1.6/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/usr/local/rubies/ruby-2.1.6/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/usr/local/rubies/ruby-2.1.6/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/usr/local/rubies/ruby-2.1.6/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/local/rubies/ruby-2.1.6/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:157:in `visit'
/usr/local/rubies/ruby-2.1.6/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:8:in `visit'
/usr/local/rubies/ruby-2.1.6/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/root_node.rb:36:in `css_tree'
/usr/local/rubies/ruby-2.1.6/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/root_node.rb:20:in `render'
/usr/local/rubies/ruby-2.1.6/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/engine.rb:268:in `render'
/usr/local/rubies/ruby-2.1.6/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/usr/local/rubies/ruby-2.1.6/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/usr/local/rubies/ruby-2.1.6/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:209:in `each'
/usr/local/rubies/ruby-2.1.6/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/usr/local/rubies/ruby-2.1.6/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:293:in `watch'
/usr/local/rubies/ruby-2.1.6/lib/ruby/gems/2.1.0/gems/compass-1.0.3/lib/compass/sass_compiler.rb:46:in `watch!'
/usr/local/rubies/ruby-2.1.6/lib/ruby/gems/2.1.0/gems/compass-1.0.3/lib/compass/commands/watch_project.rb:41:in `perform'
/usr/local/rubies/ruby-2.1.6/lib/ruby/gems/2.1.0/gems/compass-1.0.3/lib/compass/commands/base.rb:18:in `execute'
/usr/local/rubies/ruby-2.1.6/lib/ruby/gems/2.1.0/gems/compass-1.0.3/lib/compass/commands/project_base.rb:19:in `execute'
/usr/local/rubies/ruby-2.1.6/lib/ruby/gems/2.1.0/gems/compass-1.0.3/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/usr/local/rubies/ruby-2.1.6/lib/ruby/gems/2.1.0/gems/compass-1.0.3/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/usr/local/rubies/ruby-2.1.6/lib/ruby/gems/2.1.0/gems/compass-1.0.3/bin/compass:30:in `block in <top (required)>'
/usr/local/rubies/ruby-2.1.6/lib/ruby/gems/2.1.0/gems/compass-1.0.3/bin/compass:44:in `call'
/usr/local/rubies/ruby-2.1.6/lib/ruby/gems/2.1.0/gems/compass-1.0.3/bin/compass:44:in `<top (required)>'
/usr/local/bin/compass:23:in `load'
/usr/local/bin/compass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...e7d08da82918d41\": expected \"{\", was \"}\"\A         on line 473 of /home/tenpiece/public_html/sites/all/themes/tenpiece/sass/components/_tenpiece.scss\A         from line 20 of /home/tenpiece/public_html/sites/all/themes/tenpiece/sass/styles.scss\A \A 468:   @include res(s-m){\A 469:     width: 100%;\A 470:     padding: 0;\A 471:   }\A 472: >>>>>>> e7028931de020033db462b3c2e7d08da82918d41\A 473: }\A 474: /************** products *****************/\A 475: \A 476: .view-products{\A 477:   margin-top: 20px;\A 478:   .views-row{"; }
