/*
Error: Invalid CSS after "<<<<<<< HEAD": expected "{", was "}"
        on line 310 of /home/tenpiece/public_html/sites/all/themes/tenpiece/sass/components/_tenpiece.scss
        from line 20 of /home/tenpiece/public_html/sites/all/themes/tenpiece/sass/styles.scss

305:       text-align: center;
306:       font-size: 1.4em;
307:       color: $purple;
308:       padding-top: 27px;
309: <<<<<<< HEAD
310:     }
311:   }
312:   .views-field-body{
313:     font-size: 1.1em;
314:     color: #737373;
315:     text-align: center;

Backtrace:
/home/tenpiece/public_html/sites/all/themes/tenpiece/sass/components/_tenpiece.scss:310
/home/tenpiece/public_html/sites/all/themes/tenpiece/sass/styles.scss:20
/usr/local/rubies/ruby-2.1.6/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/scss/parser.rb:1165:in `expected'
/usr/local/rubies/ruby-2.1.6/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/scss/parser.rb:1101:in `expected'
/usr/local/rubies/ruby-2.1.6/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/scss/parser.rb:1096:in `tok!'
/usr/local/rubies/ruby-2.1.6/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/scss/parser.rb:641:in `block'
/usr/local/rubies/ruby-2.1.6/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/scss/parser.rb:711:in `declaration_or_ruleset'
/usr/local/rubies/ruby-2.1.6/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/scss/parser.rb:661:in `block_child'
/usr/local/rubies/ruby-2.1.6/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/scss/parser.rb:653:in `block_contents'
/usr/local/rubies/ruby-2.1.6/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/scss/parser.rb:642:in `block'
/usr/local/rubies/ruby-2.1.6/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/scss/parser.rb:711:in `declaration_or_ruleset'
/usr/local/rubies/ruby-2.1.6/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/scss/parser.rb:661:in `block_child'
/usr/local/rubies/ruby-2.1.6/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/scss/parser.rb:653:in `block_contents'
/usr/local/rubies/ruby-2.1.6/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/scss/parser.rb:642:in `block'
/usr/local/rubies/ruby-2.1.6/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/scss/parser.rb:711:in `declaration_or_ruleset'
/usr/local/rubies/ruby-2.1.6/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/scss/parser.rb:661:in `block_child'
/usr/local/rubies/ruby-2.1.6/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/scss/parser.rb:653:in `block_contents'
/usr/local/rubies/ruby-2.1.6/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/scss/parser.rb:642:in `block'
/usr/local/rubies/ruby-2.1.6/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/scss/parser.rb:635:in `ruleset'
/usr/local/rubies/ruby-2.1.6/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/scss/parser.rb:660:in `block_child'
/usr/local/rubies/ruby-2.1.6/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/scss/parser.rb:653:in `block_contents'
/usr/local/rubies/ruby-2.1.6/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/scss/parser.rb:117:in `stylesheet'
/usr/local/rubies/ruby-2.1.6/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/scss/parser.rb:42:in `parse'
/usr/local/rubies/ruby-2.1.6/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/engine.rb:393:in `_to_tree'
/usr/local/rubies/ruby-2.1.6/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/engine.rb:299:in `to_tree'
/usr/local/rubies/ruby-2.1.6/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:323:in `block in visit_import'
/usr/local/rubies/ruby-2.1.6/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/stack.rb:88:in `block in with_import'
/usr/local/rubies/ruby-2.1.6/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/stack.rb:115:in `with_frame'
/usr/local/rubies/ruby-2.1.6/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/stack.rb:88:in `with_import'
/usr/local/rubies/ruby-2.1.6/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:322:in `visit_import'
/usr/local/rubies/ruby-2.1.6/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/local/rubies/ruby-2.1.6/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/usr/local/rubies/ruby-2.1.6/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/stack.rb:79:in `block in with_base'
/usr/local/rubies/ruby-2.1.6/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/stack.rb:115:in `with_frame'
/usr/local/rubies/ruby-2.1.6/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/stack.rb:79:in `with_base'
/usr/local/rubies/ruby-2.1.6/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:158:in `visit'
/usr/local/rubies/ruby-2.1.6/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/usr/local/rubies/ruby-2.1.6/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:52:in `map'
/usr/local/rubies/ruby-2.1.6/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/usr/local/rubies/ruby-2.1.6/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/usr/local/rubies/ruby-2.1.6/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/usr/local/rubies/ruby-2.1.6/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/usr/local/rubies/ruby-2.1.6/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/usr/local/rubies/ruby-2.1.6/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/usr/local/rubies/ruby-2.1.6/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/local/rubies/ruby-2.1.6/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:157:in `visit'
/usr/local/rubies/ruby-2.1.6/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:8:in `visit'
/usr/local/rubies/ruby-2.1.6/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/root_node.rb:36:in `css_tree'
/usr/local/rubies/ruby-2.1.6/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/root_node.rb:20:in `render'
/usr/local/rubies/ruby-2.1.6/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/engine.rb:268:in `render'
/usr/local/rubies/ruby-2.1.6/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/usr/local/rubies/ruby-2.1.6/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/usr/local/rubies/ruby-2.1.6/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:209:in `each'
/usr/local/rubies/ruby-2.1.6/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/usr/local/rubies/ruby-2.1.6/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:470:in `on_file_changed'
/usr/local/rubies/ruby-2.1.6/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:328:in `block in watch'
/usr/local/rubies/ruby-2.1.6/lib/ruby/gems/2.1.0/gems/sass-3.4.13/vendor/listen/lib/listen/listener.rb:252:in `call'
/usr/local/rubies/ruby-2.1.6/lib/ruby/gems/2.1.0/gems/sass-3.4.13/vendor/listen/lib/listen/listener.rb:252:in `on_change'
/usr/local/rubies/ruby-2.1.6/lib/ruby/gems/2.1.0/gems/sass-3.4.13/vendor/listen/lib/listen/listener.rb:290:in `block in initialize_adapter'
/usr/local/rubies/ruby-2.1.6/lib/ruby/gems/2.1.0/gems/sass-3.4.13/vendor/listen/lib/listen/adapter.rb:254:in `call'
/usr/local/rubies/ruby-2.1.6/lib/ruby/gems/2.1.0/gems/sass-3.4.13/vendor/listen/lib/listen/adapter.rb:254:in `report_changes'
/usr/local/rubies/ruby-2.1.6/lib/ruby/gems/2.1.0/gems/sass-3.4.13/vendor/listen/lib/listen/adapter.rb:323:in `poll_changed_directories'
/usr/local/rubies/ruby-2.1.6/lib/ruby/gems/2.1.0/gems/sass-3.4.13/vendor/listen/lib/listen/adapter.rb:299:in `block in start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"<<<<<<< HEAD\": expected \"{\", was \"}\"\A         on line 310 of /home/tenpiece/public_html/sites/all/themes/tenpiece/sass/components/_tenpiece.scss\A         from line 20 of /home/tenpiece/public_html/sites/all/themes/tenpiece/sass/styles.scss\A \A 305:       text-align: center;\A 306:       font-size: 1.4em;\A 307:       color: $purple;\A 308:       padding-top: 27px;\A 309: <<<<<<< HEAD\A 310:     }\A 311:   }\A 312:   .views-field-body{\A 313:     font-size: 1.1em;\A 314:     color: #737373;\A 315:     text-align: center;"; }
