@import url(http://fonts.googleapis.com/earlyaccess/opensanshebrew.css);


 @mixin res($media) {
  @if $media == s {
    @media (max-width: 480px) { @content; }
  }
  @else if $media == m {
    @media (min-width: 481px) and (max-width: 767px) { @content; }
  }
  @if $media == s-m {
    @media (max-width: 767px) { @content; }
  }
}

@mixin width(){
  width: 1265px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 3%;
  box-sizing: border-box;
}

@mixin button($color1, $color2, $color3, $color4){
  color: #fff;
  padding: 10px 20px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.4);
  background-color: $color1;
  border-bottom: 4px solid $color2;
  border-radius: 4px;
  border-top: none;
  border-right: none;
  border-left: none;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  &:hover{
    background-color: $color3;
    border-bottom: 4px solid $color4;
  }
}

$default: #555959;
$light-green: #aacca3;
$light-green-h: #65ba52;
$green: #81aa7a;
$green-h: #3c9b29;
$light-yellow: #e5ca8f;
$light-yellow-h: #dcaa37;
$yellow: #bf9f5f;
$yellow-h: #af8229;
$purple: #8b5fbf;
$purple-h: #4100a8;
$light-purple: #b08ada;
$light-purple-h: #8329e8;

a, a:link, a:visited{
  text-decoration: none;
  outline: 0;
}

textarea:focus, input:focus{
    outline: 0;
}

*:focus {
    outline: 0;
    outline-style:none;
    outline-width:0;
}

.block{
  margin-bottom: 0;
}

body{
  font-family: 'Open Sans Hebrew', sans-serif;  
  font-size: 16px;
  color: $default;
  @include res(s-m){
    background-color: #f0f0f0;
  }
}

#page{
  width: 100%;
  max-width: 100%;
  margin:0;
  padding:111px 0 0 0;
  article{
    @include width;
  }
}

.button-green{
  @include button($light-green, $green, $light-green-h, $green-h);
}

.button-yellow{
  @include button($light-yellow, $yellow, $light-yellow-h, $yellow-h); 
}

.button-purple{
  @include button($light-purple, $purple, $light-purple-h, $purple-h); 
}

#page-title{
  font-size: 2.5em;
  font-weight: normal;
  @include width;
}

#main{
  padding-top: 0px;
}

#content{
  padding: 0;
}

.header-wrapper{
  background-color: rgba(256, 256, 256, 0.9);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 400;
  header{
    @include width;
    position: relative;
    padding: 20px 3% 15px!important;
    z-index: 200;
    margin-bottom: 30px;
  }
}


#logo img{
  @include res(s-m){
    height: 40px;
    margin-right: 50px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
  }
}

.region-content-bottom{
  @include width;
}
/************ scroll - header mobile  ***********/

.scroll{ 
  #logo img{
    opacity: 1!important;
  }

  .menu-button{
    position: fixed;
  }
}


/************ breadcrumbs & filter  ***********/

.gray-area-wrapper{
  background-color: #f2f2f2;
  overflow: hidden;
  display: none;
  .gray-area{
    @include width;
  }
  .region-filter{
      float: left;
      padding: 15px 0;
      .form-type-select.form-item-jump{
        margin: 0;
      }
      #block-views-exp-products-page-1, #block-views-term-store-block-1{
        float: left;
        .views-exposed-widget{
          padding: 0;
        }
        select{
          width: 220px;
          margin-right: 40px;
        }
        .views-exposed-widgets {
          margin-bottom: 0;
        }
      }
  }
  .breadcrumb{
    float: right;
      padding: 15px 0;
      ol{
        color: #333;
       a{
        color: #333;
        }
      }
  }
}

/************  front *************/

.front{
  .logo-mobile{
    display: none;
    @include res(s-m){
      display: block;
    }
  }
  #logo img{
    @include res(s-m){
      opacity: 0;
    }
  }
  #page-title{
    display: none;
  }
  .field-name-body{
    background: url("../images/swan.png") no-repeat center top;
    max-width: 950px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    .purple{
      @include res(s-m){
          color: $purple;
      }
      &.hide{
        display: none;
        @include res(s-m){
          display: inline;
        }
      }
    }
    @include res(s-m){
      background: none;
    }
    .title1{
      font-size: 3em;
      font-weight: bold;
      letter-spacing: -3px;
      line-height: 90px;
      padding-top: 36px;
      @include res(s-m){
        padding-top: 0;
      }
      @include res(s){
        font-size: 2.4em;
      }
    }
    .title2{
      font-weight: bold;
      font-size: 2.1em;
      margin-bottom: 250px;
      @include res(m){
        font-size: 1.9em;
        margin-bottom: 0;
      }
      @include res(s){
        font-size: 1.5em;
        line-height: 1.2em;
        margin-bottom: 0;
      }
    }
    .button-green, .button-yellow{
      float: right;
      margin-right: 3px;
      font-size: 2.2em;
      padding: 20px 40px;
      @include res(s-m){
        display: none;
      }
    }
    .button-yellow{
      float: left;
      margin-left: 3px;
    }
  }
  .arrow-bottom{
      width: 100%;
      padding-top: 155px;
      right: 0;
      @include res(s-m){
        display: none;
      }
      img{
        width: 52px;
        cursor: pointer;
        margin: 0 auto;
        display: block;
      }
    }
  .view-products{
    margin-top: 100px;
  }
}

@media (max-height: 710px){
    .arrow-bottom{
      padding-top: 0!important;
      position: absolute;
    }
}


.logged-in.front .field-name-body .button-yellow.not-logged{
  display: none;
}

.not-logged-in.front .field-name-body .button-yellow.logged-in{
  display: none;
}

#block-views-products-block-1{
  margin-top: 100px;
  @include res(s-m){
    display: none;
  }
  .views-row{
    background-color:#f3f3f3;
    box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.25);
    width: 22%;
    margin-left: 4%;
    float: right;
    margin-bottom: 50px;
    border:1px solid #e0e0e0;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
    position: relative;
    @include res(m){
      width: 49%;
      margin-left: 2%;
    }
    @include res(s){
      width: 100%;
      margin-left: 0;
    }
  }
  .views-row-3{
    margin-left: 0;
    width: 48%;
    background-color: #fff;
    @include res(m){
      width: 49%;
      margin-left: 2%;
    }
    @include res(s){
      width: 100%;
    }
    .views-field-title{
      float: left;
      width: 58.6%;
      .title, .design, .price{
        display: none;
      }
      .image{
        float: left;
        width: 100%;
        padding: 24px;
        margin: 0;
        opacity: 1!important;
        box-sizing: border-box;
        @include res(s-m){
          float: none;
          width: 77%;
          margin: 24px auto;
        }
      }
    }
    .views-field-nid{
      opacity: 1;
      float: right;
      width: 43.5%;
      padding: 24px 24px 10px 0;
      .link{
        background: url("../images/product-line.png") no-repeat center top;
        padding-top: 24px;
        margin-top: 20px;
        a{
          color: $purple;
          background-color: transparent;
          position: relative;
          padding: 0;
        }
      }
    }
  }
  .views-row-4{
    clear: both;
    @include res(s-m){
      clear: none;
    }
  }
  .views-row-7{
    margin-left: 0;
  }
}


#block-views-text-site-block-1{
  clear: both;
  .views-field-title{
    background: url("../images/hp-line.png") no-repeat center top;
    h2{
      font-weight: normal;
      text-align: center;
      font-size: 1.4em;
      color: $purple;
      padding-top: 27px;
      @include res(s-m){
        font-size: 2em;
        font-weight: bold;
        margin-bottom: 0;
      }
    }
  }
  .views-field-body{
    font-size: 1.1em;
    color: #737373;
    text-align: center;
    line-height: 1.2em;
    max-width: 885px;
    margin: 0 auto;
    @include res(s-m){
        font-size: 1.8em;
        p{
          margin: 0;
        }
    }
  }
  .views-field-nothing{
    text-align: center;
    margin-top: 10px;
    @include res(s-m){
      margin-top: 32px;
      a{
        font-size: 1.8em;
      }
    }
  }
}

//  mobile

#block-views-mobil-product-block, #block-views-category-mobile-block{
  display: none;
  @include res(s-m){
    display: block;
  }
}

#block-views-mobil-product-block{
  background-color: #fcfcfc;
  padding: 15px 0 30px;
  img{
    padding: 0 4%;
    box-sizing:border-box;
  }
  h2{
    text-align: center;
    font-size: 2em;
    line-height: 1.4em;
    @include width;
  }
  .view{
    @include width;
  }
  .view-content{
    border-top: 1px solid;
    padding-top: 30px;
  }
}

.front .region-content-bottom{
  @include res(s-m){
    width: 100%;
    padding: 0;
  }
}
/************** products *****************/

.view-products{
  margin-top: 20px;
  .views-row{
    background-color:#f3f3f3;
    box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.25);
    width: 22%;
    margin-left: 4%;
    float: right;
    margin-top: 50px;
    border:1px solid #e0e0e0;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
    position: relative;
    @include res(m){
      width: 49%;
      margin-left: 2%;
    }
    @include res(s){
      width: 100%;
      margin-left: 0;
    }
  }
  .views-row.place4{
    margin-left: 0;
  }
  .views-row-even{
    @include res(m){
      margin-left: 0;
    }
  }
  .image{
    margin: 21px auto 8px;
    width: 77%;
    img{
      padding: 3px;
      background-color: #fff;
    }
  }
  .image, .title, .design, .price{
    transition: all .5s;
    -webkit-transition: all .5s;
  }
  .title, .design{
    font-size: 1.5em;
    a{
      color: $default;
    }
  }
  .field-name-commerce-price{
    table{
      margin: 16px auto 0;
      tr{
        border:none;
      }
    }
    .commerce-price-savings-formatter-prices-unchanged{
      td{
        padding-bottom: 5px;
      }
    }
    .commerce-price-savings-formatter-prices-down{
      margin-top: 4px;
      .commerce-price-savings-formatter-list{
        color: #c0c0c0;
        font-size: 1.1em;
        td{
          text-align: center;
        }
      }
    }
    .commerce-price-savings-formatter-price{
      font-size: 1.4em;
      td{
        color: $purple;
      }
    }
  }
  .views-field-nid{
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    padding: 30px 10px 10px 10px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    box-sizing: border-box;
    right: 0;
    .description{
      margin-top: 8px;
      font-size: 1.1em;
      line-height: 1.2em;
    }
    .commerce-price-savings-formatter-price{
      td{
        color: $default;
      }
    }
    .link{
      font-size: 1.9em;
      a{
        color: #fff;
        display: block;
        width: 100%;
        background-color: $light-green;
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 27px 0;
      }
    }
  }
  .views-row:hover{
    .views-field-nid{
      opacity: 1;
    }
    .views-field-title, .views-field-title-1{
      .image, .title, .design, .price{
        opacity: 0;
      }
    }
  }
}

/************  store  *****************/

#block-views-amir-inner-term-eva-block, .view-products.view-display-id-page_1{
  @include width;
}

.view-products.view-display-id-entity_view_1, .view-products.view-display-id-entity_view_2{
  float: left;
  width: 75%;
  margin-top: 0;
  overflow: hidden;
  position: inherit;
  .view-footer{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 19%;
    text-align: center;
    p{
      margin: 0;
    }
    a{
      color: #fff!important;
      text-align: center;
      padding-bottom: 0;
      font-size: 1.5em;
      background-position: center -100%;
      position: absolute;
      width: 100%;
      right: 0;
      bottom: 0;
      &:hover{
        background: url("../images/all-product.png") no-repeat center center;
        color:  transparent!important;
      }
    }
  }
}

.view-amir-inner-term-eva.view-display-id-entity_view_1, .view-amir-inner-term-eva.view-display-id-entity_view_2{
    float: right;
    width: 22%;
    clear: right;
  }

.vocabulary-product{
  h2{
    width: 25%;
    float: right;
    clear: both;
    margin-top: 70px;
    margin-bottom: 24px;
    font-size: 2em;
    line-height: 1em;
  }
}

.place1 .vocabulary-product h2 a{
    color: $light-green;
}
.place2 .vocabulary-product h2 a{
    color: $light-yellow;
}
.place3 .vocabulary-product h2 a{
    color: $purple;
}

.page-node-50, .page-taxonomy-term{
  .gray-area-wrapper{
    display: block;
  }
  .place1, .place2, .place3{
    overflow: hidden;
    position: relative;
  }
  .view-products.view-display-id-entity_view_2, .view-products.view-display-id-entity_view_1{
    .views-row{
      width: 30.6%;
    }
    .views-row-last{
      margin-left: 0;
    }
  }
  .place1{
    .view-products{
      .field-name-commerce-price .commerce-price-savings-formatter-price td{
        color: $green;
      }
    }
    .view-amir-inner-term-eva.view-display-id-entity_view_1{
      a:hover{
        color: $green;
      }
    }
    .view-products.view-display-id-entity_view_1, .view-products.view-display-id-entity_view_2{
      .view-footer a{
          @include button($light-green, $green, $light-green-h, $green-h);
      }
    }
  }
  .place2{
    .view-products{
      .views-field-nid .link a{
        background-color: $light-yellow;
      }
      .field-name-commerce-price .commerce-price-savings-formatter-price td{
          color: $light-yellow;
      }
    }
    .view-amir-inner-term-eva.view-display-id-entity_view_1{
      a:hover{
        color: $light-yellow;
      }
    }
    .view-products.view-display-id-entity_view_1, .view-products.view-display-id-entity_view_2{
      .view-footer a{
        @include button($light-yellow, $yellow, $light-yellow-h, $yellow-h); 
      }
    }
  }
  .place3{
    .view-products{
      .views-field-nid .link a{
        background-color: $purple;
      }
    }
    .view-amir-inner-term-eva.view-display-id-entity_view_1 a:hover{
      color: $purple;
    }
  }
  .view-amir-inner-term-eva.view-display-id-entity_view_1{
    a{
      font-size: 1.5em;
      color: $default;
      padding-bottom: 10px;
      display: block;
    }
  }
  .view-products.view-display-id-entity_view_1, .view-products.view-display-id-entity_view_2{
      .view-footer a{
      @include button($light-purple, $purple, $light-purple-h, $purple-h); 
      }
    }
}

.page-node-50{
  #page-title{
    display: none;
  }
}
/************** footer *****************/

.wrapper-bottom{
  background-color: #333;
  overflow: hidden;
  padding: 15px 0;
  .region-bottom{
    @include width;
    color: #fff;
    a{
      color: $purple;
      &:hover{
        color: $light-purple;
      }
    }
    #block-block-4{
      float: right;
      @include res(s-m){
        width: 100%;
        text-align: center;
      }
    }
    #block-block-3{
      float: left;
      @include res(s-m){
        width: 100%;
        text-align: center;
        margin: 0;
      }
      img{
        margin: 0 0 -4px 13px;
      }
    }
    p{
      margin: 0;
    }
  }
}

.wrapper-footer{
  margin-top: 40px;
  background-color: #4a454f;
  border-top: 3px solid #aba8ad;
  .region-footer{
    @include width;
    color: #fff;
    padding: 0px 3%  20px!important;
    #block-views-text-site-block-2{
      @include res(s-m){
        display: none;
      }
    }
    #block-views-text-site-block-2, #block-webform-client-block-85{
      padding-left: 5%;
      @include res(s-m){
        padding: 0;
      }
    }
    #block-webform-client-block-85{
      .form-item{
        margin-top: 0;
        margin-bottom: 10px;
      }
      label{
        color: $default;
        font-weight: normal;
        padding: 6px 10px;
      }
      input{
        padding: 6px 10px;
        border-radius: 4px;
        border: none;
        @include res(s-m){
          width: 100%;
        }
      }
      input.form-submit{
        @include button($light-green, $green, $light-green-h, $green-h);
        width: 100%;
        font-style: 1.3em;
        padding: 5px 20px;
        margin-top: 10px;
      }
      .form-required{
        display: none;
      }
    }
    .block{
      float: right;
      width: 30%;
      @include res(s-m){
        width: 100%;
        text-align: center;
      }
      h2{
        font-weight: normal;
        margin: 0;
        font-size: 1.9em;
      }
      .views-field-body{
        p{
          margin: 0;
        }
      }
    }
  }
}
/************  main menu *************/

#navigation{
    height: auto;
    position: relative;
    width: auto;
  #main-menu{
    float: right;
    ul{
      padding: 10px 0px 0 0;
      display: block;
    }
  }
  a{
    font-size: 1.1em;
    color: $default;
  }
  li{
    padding: 0 16px!important;
  }
  .menu-2592{
    border-left: 1px solid;
    margin-left: 16px;
    padding-left: 32px!important;
    @include res(s-m){
      border:none;
      margin: 0;
      padding: 0;
    }
  }
}

.menu-3167{
  display: none;
}

.logged-in{
  .menu-3167{
    display: block;
  }
  .menu-2591{
    display: none;
  }
}
/**************  responsive menu  *************/

.menu-button{
  display: none;
  background-color: #454545;
  border:1px solid #454545;
  height: 40px;
  border-radius: 50%;
  width: 40px;
  position: absolute;
  right: 15px;
  z-index: 401;
  cursor: pointer;
  top: 20px;
  @include res(s-m){
    display: block;
  }
  span{
    background-color: #fff;
    display: block;
    height: 1px;
    margin: 5px auto 0;
    width: 53%;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
  }
  .line1{
    margin-top: 14px;
  }
}

#navigation.hide-mobile{
  @include res(s-m){
    opacity: 0;
    z-index: -1;
  }
}

.menu-open{
  .menu-button{
    background-color: transparent;
    .line1{
      transform: rotate(45deg);
      -ms-transform: rotate(45deg); 
      -webkit-transform: rotate(45deg); 
      margin-top: 20px;
    }
    .line2{
      display: none;
    }
    .line3{
      margin-top: -1px;
      transform: rotate(135deg);
      -ms-transform: rotate(135deg); 
      -webkit-transform: rotate(135deg); 
    }
    span{
      background-color: #454545;
    }
  }
 #navigation{
  transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
  opacity: 1;
  z-index: 400;
  background-color: #fff;
  padding: 73px 0 0 0;
  width: 80%;
  #main-menu{
    padding: 0;
    ul{
      padding: 0;
      li{
        width: 100%;
        border-top: 1px solid #f0f0f1;
        padding: 17px 20px!important;
        box-sizing: border-box;
        &:hover, &.active{
          background-color: #f8f8f8;
        }
      }
    }
  }
 } 
}
/************  menu store  *************/


#open-menu{
  position: absolute;
  margin: 65px 0;
  background-color: #f2f2f2;
  z-index: 500;
  max-width: 100%;
  position: absolute;
  width: 94%;
  border: 1px solid #c4c4c4;
  border-radius: 0 0 3px 3px;
  padding: 0 3%;
  box-sizing:border-box;
  .item-list{
    float: right;
    width: 18.4%;
    margin-left: 2%;
  }
  h3{
    margin-top: 0;
  }
  &:after, &:before {
      border-left: 13px solid transparent;
      border-right: 13px solid transparent;
      border-bottom: 13px solid #f2f2f2;
      top: -13px;
      content: '';
      right: 206px;
      position: absolute;
  }
  &:before {
    border-bottom: 13px solid;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    top: -13px;
  }
  .view-footer{
    float: left;
    width: 18.4%;
  }
  a{
    color: $default;
    border-bottom: 1px solid #c4c4c4;
    display: block;
    padding: 15px 0;
  }
  .views-row-last a{
    border: none;
  }
  .views-row-first a{
    padding-top: 0;
  }
  li{
    list-style-type: none;
    margin: 0;
  }
  ul{
    padding: 0;
    margin: 0;
  }
  h3{
    margin-bottom: 0;
    a{
      border:none;
    }
  }
}

.open-menu-wrapper{
  @include width;
  position: relative;
}

#open-menu.hide{
  display: none;
}

/**************** top icons **********/

.user-menu-icon{
  float: left;
  &.hide .menu{
      display: none;
  }
  .menu{
    background-color: #f2f2f2;
    border: 1px solid #c4c4c4;
    border-radius: 0 0 3px 3px;
    left: 0px;
    position: absolute;
    top: 77px;
    z-index: 300;
    left: 3%;
    .views-field{
      border-bottom: 1px solid #c4c4c4;
      padding: 5px 16px;
      a{
        color: $default;
      }
      &:hover{
        background-color: #fff;
      }
    }
    .views-field-name:hover{
      background-color: #f2f2f2;
    }
    .views-field-nothing-2{
      border-bottom: none;
    }
    .views-field-nothing .number{
      background-color: $purple;
      border-radius: 50%;
      color: #fff;
      display: inline-block;
      margin-right: 10px;
      width: 23px;
      float: left;
      text-align: center;
    }
  }
  .menu:after, .menu:before {
      border-left: 13px solid transparent;
      border-right: 13px solid transparent;
      border-bottom: 13px solid #f2f2f2;
      top: -13px;
      content: '';
      left: 33%;
      position: absolute;
  }
  .menu:before {
    border-bottom: 13px solid;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    top: -13px;
  }
}

.top-icons{
      background: url("../images/top-icons.png") no-repeat;
      float: left;
      height: 40px;
      width: 40px;
      margin-right: 10px;
}

.shoping-icon.not-empty, .man-icon{
  cursor: pointer;
}

.shoping-icon{
  background-position: 0 0;
  position: relative;
  @include res(s-m){
    position: absolute;
    left: 15px;
  }
  .view-content{
    display: none;
  }
}

.top-icons{
  .button-cart, .empty, .number-man-icon .view-header{
    background-color: #fff;
    color: $purple;
    border-radius: 50%;
    font-size: 0.8em;
    height: 19px;
    left: -2px;
    line-height: 1.2em;
    min-width: 19px;
    position: absolute;
    text-align: center;
    top: -6px;
  }
}

.man-icon{
  background-position: -50px 0;
  position: relative;
}

/**************** add product *********/

.page-node-5{
  #page-title{
    color: $purple;
    font-weight: bold;
  }
  .region-content-bottom{
    overflow: hidden;
    .description, .password-strength, .password-suggestions{
      display: none!important;
    }
    .form-item{
      margin: 20px 0 0 ;
    }
    .block-title, .group-shipping-details h3{
        background: url("../images/user-register-icons.png") no-repeat 0 0;
        line-height: 1.2em;
        padding-right: 30px;
        font-weight: normal;
        border-bottom: 1px solid #e3e3e3;
        padding-bottom: 10px;
        font-size: 1.5em;
    }
  }
  #block-user-login{
    width: 42%;
    float: left;
    @include res(s-m){
      width: 100%;
    }
    h2{
        background-position: right -28px;
    }
    .form-submit{
      @include button($light-green, $green, $light-green-h, $green-h);
    }
    .item-list{
      display: none;
    }
  }
  #block-formblock-user-register{
    width: 42%;
    float: right;
    @include res(s-m){
      width: 100%;
    }
    h2{
      background-position: right -63px;
    }
    .form-submit{
      @include button($light-yellow, $yellow, $light-yellow-h, $yellow-h);
    }
    .group-shipping-details{
      h3{
          background-position: right 4px;
      }
    }
  }
}

.form-type-password > .password-confirm{
  display: none;
}

.page-node-5, .page-node-add-product{
    input{
      width: 100%!important;
      height: 40px;
      border-radius: 5px;
      border:1px solid #cacaca;
      padding: 7px 10px;
    }
    textarea{
      border-radius: 5px;
      border:1px solid #cacaca;
      padding: 10px;
    }
    label{
      color: #999;
      padding: 10px;
      font-weight: normal;
    }
    .form-required{
      display: none;
    }
    .confirm-parent, .password-parent{
      width: 100%;
    }
    .form-submit{
      float: left;
      width: auto;
      margin-top: 20px;
      padding: 0 20px!important;
      font-weight: bold;
      font-size: 1.5em;
    }
}

.region-help, .region-highlighted #block-block-7{
  background-color: #f2f2f2;
  overflow: hidden;
  margin-bottom: 30px;
  #block-block-5, #block-block-6, .wrapper{
    @include width;
  }
  p{
    float: right;
    font-size: 1.5em;
    margin: 20px 14px;
  }
  .circle{
    border:1px solid #595959;
    width: 38px;
    height: 38px;
    color: #595959;
    border-radius: 50%;
    margin-top: 13px;
    padding-top: 5px;
    text-align: center;
    box-sizing: border-box;
    &.active{
      background-color: $purple;
      border:1px solid $purple;
      color: #fff;
    }
    &.done{
      background-color: $light-purple;
      border:1px solid $light-purple;
      color: #fff;
    }
    &.right{
      float: right;
    }
    &.left{
      float: left;
    }
  }
  #block-block-5{
    .no3{
      margin-right: 20px;
    }
  }
  #block-block-6{
    .no1{
      margin-left: 20px;
    }
  }
 .wrapper{
    .no1, .no2{
      margin-left: 20px;
    }
  }
}

.page-node-add-product{
  #page-title{
    color: $purple;
    font-weight: bold;
  }
  .node-form{
    @include width;
  }
  .multipage-pane-wrapper{
    min-height: 267px;
  }
  .field-group-multipage-group-wrapper {
    position: relative;
  }
  .title.group-product-name, #edit-field-main-category, #edit-field-other, #edit-field-material, #edit-field-surface{
    float: right;
    width: 42%;
    clear: right;
    position: relative;
    @include res(s-m){
      width: 100%;
    }
  }
  #edit-field-main-category{
    height: 94px;
    .form-item{
      position: absolute;
      margin-bottom: 0;
    }
  }
  #edit-field-material, #edit-field-surface{
    input{
      clear: right;
      float: right;
      height: 26px;
      margin-left: 10px;
      width: auto;
    }
    .form-type-checkbox, .form-type-radio{
      width: 50%;
      padding-left: 10px;
      box-sizing: border-box;
      float: right;
    }
  }
  .story{
    width: 42%;
    left: 0;
    position: absolute;
    @include res(s-m){
      width: 100%;
      position: relative;
    }
    h3{
      border-bottom: 1px solid #e3e3e3;
    }
    .filter-wrapper, .grippie{
      display: none;
    }
  }
  .multipage-counter, .multipage-controls-list{
    clear: both;
    display: block;
    float: none !important;
    text-align: center;
    color: $light-yellow;
    font-size: 1.5em;
  }
  #edit-field-main-category, #edit-field-other, #edit-field-material, #edit-field-surface{
    label{
      position: relative;
      padding: 0;
      color: #000;
    }
  }
  #edit-field-other{
    label{
      display: none;
    }
    input{
      margin-top: 20px;
    }
  }
  .story h3, #edit-field-main-category label, .title.group-product-name h3, #edit-field-imgs span,
  #edit-field-other > div > label, #edit-field-material > div > label, #edit-field-surface > div > label{
        line-height: 1.2em;
        font-weight: normal;
        padding-bottom: 10px;
        font-size: 1.5em;
        margin: 0;
    }
    .shs-wrapper-processed .has-children{
      background: none;
      margin: 0;
    }
  .form-type-textfield{
    margin: 0;
  }
  .multipage-counter{
    padding-top: 92px;
  }
  .multipage-controls-list input.form-submit{
    @include button($light-yellow, $yellow, $light-yellow-h, $yellow-h);
    background-image: none;
    box-shadow: none;
  }
  .multipage-controls-list{
    width: 160px;
    margin: 56px auto 0;
    input{
    font-size: 1.2em;
    font-weight: normal;
    }
  }
  .multipage-closed{
    #edit-actions input.form-submit{
      margin-left: 20px;
      @include button($light-green, $green, $light-green-h, $green-h);
      background-image: none;
    }
    .multipage-counter{
      padding-top: 0;
    }
    .multipage-controls-list{
      width: 324px;
      max-width: 100%;
    }
  }
  #edit-field-imgs{
    fieldset{
      border: none;
    }
    label{
      position: relative;
      padding: 0;
    }
    input{
      padding: 0;
      width: 33%;
      float: right;
    }
    input.form-submit{
      font-size: 1.2em;
      font-weight: normal;
      margin: 0;
      padding: 0 !important;
      width: 100px;
    }
    .image-widget-data{
      width: 100%;
      a, .file-size{
        font-size: 16px;
        color: $default;
      }
      .file-icon{
        display: none;
      }
    }
    .draggable .image-widget-data{
      width: auto;
      padding-right: 24px;
    }
    table{
      width: 100%;
      border-bottom: 1px solid #bebebe;
      thead{
        background-color: #e1e2dc;
        tr{
          th{
            text-align: right;
            border: none;
            padding: 10px 22px;
          }
          th:first-child{
            padding-right: 50px;
          }
        }
      }
      tbody{
        border:none;
        tr{
          border:none;
          td{
            padding: 10px 22px;
          }
        }
      }
    }
    .image-preview{
      padding: 0;
      img{
        border:3px solid #fff;
        margin-bottom: -8px;
      }
    }
  }
  .vertical-tabs{
    display: none;
  }
}
/**************** edit product *********/

#edit-field-other, #edit-field-surface, #edit-field-material{
  height: 0;
  overflow: hidden;
}

/**********************************/
/*           cart                 */
/**********************************/

.region-cart{
  @include res(small-medium){
    display: none;
  }
}

#block-commerce-cart-cart{
  transition: all 1s;
  -webkit-transition: all 1s;
  margin-left: -420px;
  position: fixed;
  top: 0;
  height: 100%;
  z-index: 450;
  width: 420px;
  margin-right: 5px;
  padding: 10px;
  left: 0;
  background-color: #f0f0f0;
  border-right: 1px solid #cbcbcb;
  box-sizing:border-box;
  &.open{
    margin: 0;
  }
  .view-header{
    position: relative;
    float: left;
    top: -50px;
    .close-button{
      border: 1px solid;
      border-radius: 50%;
      cursor: pointer;
      font-size: 1.5em;
      height: 26px;
      padding-top: 2px;
      text-align: center;
      width: 28px;
    }
  }
  h2{
    border-bottom: 1px solid #b2b3b2;
    font-weight: normal;
    padding-bottom: 10px;
  }
    ul.links{
    width: 100%;
    left: 0;
    margin: 10px 0 0 ;
    li{
      width: 49%;
      float: left;
      text-align: center;
      padding: 0;
      a{
        color: #fff;
        padding: 10px 20px;
        display: block;
        box-sizing: border-box;
      }
    }
    li.first{
      margin-left: 2%;
      a{
        transition: all .5s;
        -webkit-transition: all .5s;
        &:hover{
          color: transparent;
        }
      }
    }
    li.last{
      a{
        transition: all .5s;
        -webkit-transition: all .5s;
        &:hover{
          color: transparent;
        }
      }
    }
  }
  table{
    margin: 0 auto;
    display: block;
    tbody{
      width: 100%;
      display: block;
      margin-bottom: 10px;
    }
    tr.even, tr.odd{
      background-color: transparent;
      display: block;
      padding: 0.1em 0;
    }
    td{
      margin-left: 10px;
      padding-top: 15px;
      padding-bottom: 10px;
    }
    .views-field-field-product-defult-image{
      padding: 5px 0;
    }
    .views-field-line-item-title{
      width: 190px;
      line-height: 1em;
      padding-top: 20px;
    }
    .views-field-commerce-total{
      margin-left: 0;
      font-size: 1.2em;
      padding: 34px 0;
    }
    .views-field-line-item-title{
      .title{
        float: right;
        margin-left: 5px;
      }
    }
    .views-field-field-imgs{
      img{
        border:3px solid #fff;
      }
    }
    .views-field-quantity{
      padding: 34px 10px!important;
      font-size: 1.2em;
    }
  }
  .line-item-total{
    padding-bottom: 10px;
  }
  .links{
    margin-top: 10px;
    a{
      @include button($light-purple, $purple, $light-purple-h, $purple-h);
      font-size: 1.5em;
      &:hover{
        color: #fff!important;
      }
    }
    .line-item-summary-view-cart{
      float: right!important;
    }
  }
}

/****************   product page *************/

#block-views-text-site-block{
  @include width;
  font-size: 1.2em;
  .view{
    background-color: #f4fff2;
    border: 1px solid #8eb486;
    padding: 20px 30px 30px;
  }
  h2{
    font-size: 1.2em;
    font-weight: normal;
    margin: 0;
  }
  .view-content{
    ul{
      padding: 0;
    }
    li{
      list-style-type: none;
      &:before {
        background-color: $light-green;
        border-radius: 50%;
        content: "";
        display: inline-block;
        height: 10px;
        margin-left: 10px;
        position: relative;
        top: -2px;
        width: 10px;
      }
    }
    p{
      font-size: 1.4em;
      font-weight: bold;
      margin: 0;
    }
  }
}
.node-type-product{
  .similar-product{
        padding-top: 20px;
        a{
          color: $purple;
          font-size: 1.3em;
          float: left;
          background: url("../images/clone-icon.png") no-repeat right center;
          padding: 5px 40px 5px 0;
        }
  }
  .gray-area-wrapper{
    display: block;
  }
  #content{
    width: 100%;
    padding: 0;
  }
  #header{
    @include width;
  }
  article{
    @include width;
  }
  #page-title{
    color: $purple;
  }
  .field-name-commerce-stock{
    font-size: 1.5em;
    font-weight: lighter;
    margin-top: 14px!important;
    margin-bottom: 5px;
  }
  .right{
    float: right;
    width: 50%;
  }
  .left{
    float: left;
    width: 42%;
  }
  .field-label{
    font-weight: normal;
  }
  .field{
    margin-top: 5px;
  }
  .field-name-field-desighner, .field-name-field-material{
    .field-item{
      color: $purple;
      font-weight: bold;
    }
  }
  #comments{
    clear: both;
  }
  input#edit-quantity{
    font-size: 2em;
    font-weight: lighter;
    border:none;
    width: 38px;
    text-align: center;
  }
  .form-item-quantity{
    float: right;
    margin-bottom: 10px;
    span:nth-child(2) a{
      top:-8px;
      right: 0px;
    }
    label{
      font-size: 1.5em;
      color: $purple;
      font-weight: normal;
      float: right;
      margin-left: 15px;
      padding-top: 10px;
      &:after{
        content: ":";
      }
    }
  }
  .commerce-quantity-plusminus-link{
    top:-2px;
    position: relative;
    background-color: $light-purple;
    border-radius: 50%;
    display: inline-block;
    width: 20px;
    height: 20px;
    &:hover{
      background-color: $purple;
    }
    a{
      -moz-appearance: none;
      -webkit-appearance: none;
      color: #fff;
      position: absolute;
      top:-7px;
      right: -2px;
      &:hover{
        color: #fff;
        background-color: transparent;
      }
    }
  }
  .commerce-product-field{
    clear: both;
    table{
      margin: 9px 0 0 0;
    }
    .field-label{
      font-size: 1.5em;
      color: $purple;
      font-weight: normal;
      float: right;
      margin-left: 15px;
      padding-top: 11px;
    }
    .commerce-price-savings-formatter-price{
      float: right;
      border:none;
      .price-amount{
        font-size: 1.5em;
        color: $default;
        font-weight: bold;
        padding: 0;
      }
    }
    .commerce-price-savings-formatter-list{
      border:none;
      float: right;
      .price-amount{
        padding: 0;
        font-weight: normal;
        color: #8a8a8a;
        float: right;
        font-size: 1.5em;
      }
    }
  }
  .commerce-add-to-cart{
    position: relative;
    input#edit-submit{
      left: 0;
      @include button($light-purple, $purple, $light-purple-h, $purple-h);
      background-position: center -100%;
      float: left;
      width: 230px;
      margin-top: 20px;
      &:hover{
        background: url("../images/add-to-cart.png") no-repeat center center $purple;
        color:  transparent;
      }
    }
    input.form-button-disabled{
      float: right!important;
      left: 0!important;
      clear: right;
      &:hover{
        background-image:none!important;
        color: #fff!important;
        background-color: $light-purple!important;
        border-bottom: 4px solid $purple!important;
      }
    }
  }
  .group-more-details{
    font-family: 'Open Sans Hebrew', sans-serif;
    .accordion-item{
      background-image: none;
      border:1px solid #d6d7d6;
      border-radius: 0;
      margin-top: 0;
      padding-right: 7%;
      background: url("../images/product-page-icon.png") no-repeat #b3b3b3;
      background-size: 20px;
      box-sizing:border-box;
      a{
        color: #fff;
        font-size: 1em;
      }
      span{
        display: none;
      }
    }
    #ui-accordion-1-header-0{
      background-position:  99% -78px;
      &:hover, &.ui-state-active{
        background-color: $light-green;
      }
    }
    #ui-accordion-1-header-1{
      background-position: 99% -131px;
      background-size: 24px;
      &:hover, &.ui-state-active{
        background-color: $light-green;
      }
    }
    #ui-accordion-1-header-2{
      background-position:  99% -169px;
      background-size: 24px;
      &:hover, &.ui-state-active{
        background-color: $light-green;
      }
    }
    .field-group-accordion-item{
      height: auto!important;
      border:none;
      p{
        margin: 0;
      }
    }
  }
}

/*   wrapper bottom  */
.node-type-product{
  .action-links{
    display: none;
  }
  .bottom-wrapper{
    border-top:1px solid #f2f2f2;
    border-bottom:1px solid #f2f2f2;
    padding-top: 40px;
    margin-top: 40px;
    padding-bottom: 40px;
    margin-bottom: 40px;
    overflow: hidden;
    .bottom-content{
      @include width;
      .bottom-right{
        float: right;
        width: 50%;
        @include res(s-m){
          width: 100%;
        }
      }
      .bottom-left{
        width: 42%;
        float: left;
        @include res(s-m){
          width: 100%;
        }
      }
    }
  }
  .bottom-left{
    position: relative;
    h2.title-comment{
      background: url("../images/product-page-icon.png") no-repeat scroll 99% 10px / 25px auto;
      margin: 0;
      font-size: 1.2em;
      font-weight: normal;
      padding: 2px 37px;
      border-bottom: 1px solid #d1d1d1;
      margin-bottom: 10px;
    }
    .view-reviews-product-page{
      .views-slideshow-controls-text{
        position: absolute;
        top: 0;
        left: 0;
        .views-slideshow-controls-text-pause{
          display: none;
        }
        span a{
          background: url("../images/arrows.png") no-repeat scroll;
          display: inline-block;
          height: 25px;
          text-indent: -9999px;
          width: 14px;
        }
        .views-slideshow-controls-text-previous a{
          background-position: 0 0 ;

        }
        .views-slideshow-controls-text-next a{
          background-position: 0 -25px ;
          margin-right: 80px;
        }
      }
      .views-field-name{
        color: $light-yellow-h;
      }
      .views-slideshow-cycle-main-frame-row{
        left: auto!important;
        width: 100%;
        .views-field-field-rating{
          float: left;
          .form-item{
            margin: 0 50px 30px 0;
          }
        }
        .views-field-comment-body{
          p{
            margin: 0;
          }
        }
        .views-row{
          clear: both;
          margin-bottom: 30px;
        }
        .star{
          background-image: none;
          height: 16px!important;
          width: 20px;
        }
        .star span{
          background: url("../images/star.png") no-repeat scroll;
          background-size: 17px;
          width: 21px;
        }
        .star span.on{
          background-position: 3px -39px;
        }
        .star .off{
          background-position: 3px -1px;
        }
      }
    }
  }
  .view-reviews-product-page.view-display-id-block_2{
    #edit-field-rating{
      float: right;
      width: 65%;
          .star{
            background-image: none;
            height: 20px;
            width: 25px;
            padding-top: 11px;
          }
          .star a{
            background: url("../images/star.png") no-repeat scroll;
          }
          .star.on a{
            background-position: 0 -45px;
          }
          .star.hover a{
            background-position: 0 -21px;
          }
          label{
            position: relative;
            font-size: 1.5em;
            float: right;
          }
    }
    .view-header h2{
      color: #fff;
      background: url("../images/product-page-icon.png") no-repeat scroll 99% -25px / 25px auto $light-yellow;
      font-size: 1.2em;
      font-weight: normal;
      padding: 2px 37px;
      margin-top: 0;
    }
    .node-title{
      display: none;
    }
    article{
      padding: 0;
    }
  }
}

.field-name-field-imgs{
  position: relative;
  .field-slideshow-controls{
      .prev{
        right: 5px;
        background-position: -18px 0;
      }
      .next{
        left: 0;
        background-position: 12px 0;
      }
      a{
          background: url("../images/gallery_arrows.png") no-repeat;
          height: 33px;
          position: absolute;
          text-indent: -9999px;
          top: 45%;
          width: 35px;
          z-index: 200;
      }
  }
}

.region-content-bottom{
  @include width();
  #block-views-products-block-3{
    clear: both;
    .block-title{
      font-weight: normal;
      font-size: 1.8em;
      border-bottom: 1px solid #bfbfbf;
      text-align: center;
      width: 380px;
      max-width: 100%;
      margin: 0 auto;
    }
    .view-products{
      clear: both;
      margin-top: 40px;
    }
  }
}

/***********  comments *************/

#comments{
 input, textarea{
  border:1px solid #c3c3c3;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
 } 
 label{
  font-weight: normal;
  padding: 10px;
  font-size: 1.1em;
 }
 .grippie, .form-required{
  display: none;
 }
 input.form-submit{
  @include button($light-yellow, $yellow, $light-yellow-h, $yellow-h);
  float: left;
  padding: 5px 40px;
  font-weight: bold;
  font-size: 1.5em;
  width: auto;
 }
}

.logged-in{
  #comment-form > div:first-child > div:first-child{
    display: none;
  }
}

/************  design select  ************/

#block-views-term-store-block-1, #block-views-exp-products-page-1{
  .form-type-select {
    overflow: hidden;
    float: left;
    width: 100%;
    height: 40px;
    line-height: 31px;
    background: url("../images/select.png") no-repeat 13px center;
    text-align:-moz-center;
    text-align:-webkit-center;
    margin-bottom: 5px;
  }
  .form-type-select select {
    width: 107%;
    padding: 0px 11px 0 0;
    cursor: pointer;
    text-indent: 0.01px;
    text-overflow: “”;
    font-size: 17px;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    max-width: 150%;
    height: 40px;
    color: $default;
    border: 1px solid #cbcbcb;
    border-radius: 4px;
  }
  .form-type-select select::-ms-expand {
    display: none;
  }
  option{
    padding: 5px 11px;
  }
}

#edit-field-material-tid-wrapper, #edit-field-surface-tid-wrapper{
  display: none;
}

