@import url(http://fonts.googleapis.com/earlyaccess/opensanshebrew.css);


 @mixin res($media) {
  @if $media == s {
    @media (max-width: 480px) { @content; }
  }
  @else if $media == m {
    @media (min-width: 481px) and (max-width: 767px) { @content; }
  }
  @if $media == s-m {
    @media (max-width: 767px) { @content; }
  }
}

@mixin width(){
  width: 1265px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 3%;
  box-sizing: border-box;
}

@mixin button($color1, $color2, $color3, $color4){
  color: #fff;
  padding: 10px 20px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.75);
  background-color: $color1;
  border-bottom: 4px solid $color2;
  border-radius: 4px;
  border-top: none;
  border-right: none;
  border-left: none;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  &:hover{
    background-color: $color3;
    border-bottom: 4px solid $color4;
  }
}

$default: #555959;
$light-green: #aacca3;
$light-green-h: #65ba52;
$green: #81aa7a;
$green-h: #3c9b29;
$light-yellow: #e5ca8f;
$light-yellow-h: #dcaa37;
$yellow: #bf9f5f;
$yellow-h: #af8229;
$purple: #8b5fbf;
$purple-h: #4100a8;
$light-purple: #b08ada;
$light-purple-h: #8329e8;

a, a:link, a:visited{
  text-decoration: none;
  outline: 0;
}

textarea:focus, input:focus{
    outline: 0;
}

*:focus {
    outline: 0;
    outline-style:none;
    outline-width:0;
}

.block{
  margin-bottom: 0;
}

body{
font-family: 'Open Sans Hebrew', sans-serif;  font-size: 16px;
  color: $default;
}

#page{
  @include width;
  padding-top: 20px;
}

.button-green{
  @include button($light-green, $green, $light-green-h, $green-h) 
}

.button-yellow{
  @include button($light-yellow, $yellow, $light-yellow-h, $yellow-h) 
}

.button-purple{
  @include button($light-purple, $purple, $light-purple-h, $purple-h) 
}

#page-title{
  font-size: 3em;
}
/************  front *************/

.front{
  #page-title{
    display: none;
  }
  .field-name-body{
    background: url("../images/swan.png") no-repeat center top;
    max-width: 950px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    .title1{
      font-size: 3em;
      font-weight: bold;
      letter-spacing: -3px;
      line-height: 90px;
      padding-top: 36px;
    }
    .title2{
      font-weight: bold;
      font-size: 2.1em;
      margin-bottom: 250px;
    }
    .button-green, .button-yellow{
      float: right;
      margin-right: 3px;
      font-size: 2.2em;
      padding: 20px 40px;
    }
    .button-yellow{
      float: left;
      margin-left: 3px;
    }
    .arrow-bottom{
      padding-top: 155px;
      cursor: pointer;
      margin: 0 auto 0;
      width: 52px;
    }
  }
}

.logged-in.front .field-name-body .button-yellow{
  display: none;
}

#block-views-products-block-1{
  margin-top: 100px;
  .views-row{
    background-color:#f3f3f3;
    box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.25);
    width: 22%;
    margin-left: 4%;
    float: right;
    margin-bottom: 50px;
    border:1px solid #e0e0e0;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
    position: relative;
    @include res(m){
      width: 49%;
      margin-left: 2%;
    }
    @include res(s){
      width: 100%;
      margin-left: 0;
    }
  }
  .views-row-3{
    margin-left: 0;
    width: 48%;
    background-color: #fff;
    @include res(m){
      width: 49%;
      margin-left: 2%;
    }
    @include res(s){
      width: 100%;
    }
    .views-field-title{
      float: left;
      width: 56.5%;
      .title, .design, .price{
        display: none;
      }
      .image{
        float: left;
        width: 100%;
        padding: 24px;
        margin: 0;
        opacity: 1!important;
        box-sizing: border-box;
        @include res(s-m){
          float: none;
          width: 77%;
          margin: 24px auto;
        }
      }
    }
    .views-field-nid{
      opacity: 1;
      float: right;
      width: 43.5%;
      padding: 24px 24px 10px 0;
      .link{
        background: url("../images/product-line.png") no-repeat center top;
        padding-top: 24px;
        margin-top: 20px;
        a{
          color: $purple;
          background-color: transparent;
          position: relative;
          padding: 0;
        }
      }
    }
  }
  .views-row-4{
    clear: both;
    @include res(s-m){
      clear: none;
    }
  }
  .views-row-7{
    margin-left: 0;
  }
}


#block-views-text-site-block-1{
  clear: both;
  .views-field-title{
    background: url("../images/hp-line.png") no-repeat center top;
    h2{
      font-weight: normal;
      text-align: center;
      font-size: 1.4em;
      color: $purple;
      padding-top: 27px;
    }
  }
  .views-field-body{
    font-size: 1.1em;
    color: #737373;
    text-align: center;
    line-height: 1.2em;
    max-width: 885px;
    margin: 0 auto;
  }
  .views-field-nothing{
    text-align: center;
    margin-top: 10px;
  }
}

/************** products *****************/

.view-products{
  margin-top: 100px;
  .views-row{
    background-color:#f3f3f3;
    box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.25);
    width: 22%;
    margin-left: 4%;
    float: right;
    margin-bottom: 50px;
    border:1px solid #e0e0e0;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
    position: relative;
    @include res(m){
      width: 49%;
      margin-left: 2%;
    }
    @include res(s){
      width: 100%;
      margin-left: 0;
    }
  }
  .views-row-even{
    @include res(m){
      margin-left: 0;
    }
  }
  .image{
    margin: 21px auto 8px;
    width: 77%;
    img{
      padding: 3px;
      background-color: #fff;
    }
  }
  .image, .title, .design, .price{
    transition: all 1s;
    -webkit-transition: all 1s;
  }
  .title, .design{
    font-size: 1.1em;
    a{
      color: $default;
    }
  }
  .field-name-commerce-price{
    table{
      margin: 16px auto 0;
      tr{
        border:none;
      }
    }
    .commerce-price-savings-formatter-prices-down{
      margin-top: 0px;
      .commerce-price-savings-formatter-list{
        color: #c0c0c0;
        font-size: 1.1em;
        td{
          text-align: center;
        }
      }
    }
    .commerce-price-savings-formatter-price{
      font-size: 1.4em;
      td{
        color: $purple;
      }
    }
  }
  .views-field-nid{
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    padding: 30px 10px 10px 10px;
    transition: all 1s;
    -webkit-transition: all 1s;
    box-sizing: border-box;
    right: 0;
    .description{
      margin-top: 8px;
      font-size: 1.1em;
      line-height: 1.2em;
    }
    .commerce-price-savings-formatter-price{
      td{
        color: $default;
      }
    }
    .link{
      font-size: 1.9em;
      a{
        color: #fff;
        display: block;
        width: 100%;
        background-color: $light-green;
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 27px 0;
      }
    }
  }
  .views-row:hover{
    .views-field-nid{
      opacity: 1;
    }
    .views-field-title{
      .image, .title, .design, .price{
        opacity: 0;
      }
    }
  }
}

/************** footer *****************/

.wrapper-bottom{
  background-color: #333;
  overflow: hidden;
  padding: 15px 0;
  .region-bottom{
    @include width;
    color: #fff;
    a{
      color: $purple;
      &:hover{
        color: $light-purple;
      }
    }
    #block-block-4{
      float: right;
      @include res(s-m){
        width: 100%;
        text-align: center;
      }
    }
    #block-block-3{
      float: left;
      @include res(s-m){
        width: 100%;
        text-align: center;
        margin: 20px 0 20px;
      }
      img{
        margin: 0 0 -4px 13px;
      }
    }
    p{
      margin: 0;
    }
  }
}

.wrapper-footer{
  margin-top: 40px;
  background-color: #4a454f;
  border-top: 3px solid #aba8ad;
  .region-footer{
    @include width;
    color: #fff;
    padding: 0px 3%  20px!important;
    #block-views-text-site-block-2, #block-webform-client-block-85{
      padding-left: 5%;
    }
    #block-webform-client-block-85{
      padding-left: 5%;
      .form-item{
        margin-top: 0;
        margin-bottom: 10px;
      }
      label{
        color: $default;
        font-weight: normal;
        padding: 6px 10px;
      }
      input{
        padding: 6px 10px;
        border-radius: 4px;
        border: none;
      }
      input.form-submit{
        @include button($light-green, $green, $light-green-h, $green-h);
        width: 100%;
        font-style: 1.3em;
        padding: 5px 20px;
        margin-top: 10px;
      }
      .form-required{
        display: none;
      }
    }
    .block{
      float: right;
      width: 30%;
      h2{
        font-weight: normal;
        margin: 0;
        font-size: 1.9em;
      }
      .views-field-body{
        p{
          margin: 0;
        }
      }
    }
  }
}
/************  main menu *************/

#navigation{
  position: relative;
  height: auto;
  float: right;
  padding-top: 10px;
  width: auto;
  a{
    font-size: 1.1em;
    color: $default;
  }
  li{
    padding: 0 16px!important;
  }
  .menu-2592{
    border-left: 1px solid;
    margin-left: 16px;
    padding-left: 32px!important;
  }
}

/************  menu store  *************/


#open-menu{
  @include width;
  position: absolute;
  margin-top: 49px;
  background-color: #fff;
  z-index: 200;
  width: 100%;
  .item-list{
    float: right;
    width: 20%;
  }
  h3{
    margin-top: 0;
  }
}

#open-menu.hide{
  display: none;
}

/**************** top icons **********/

.user-menu-icon{
  float: left;
  .menu.hide{
      display: none;
  }
  .menu{
    left: 98px;
    position: absolute;
    top: 59px;
  }
}

.top-icons{
      background: url("../images/top-icons.png") no-repeat;
      float: left;
      height: 40px;
      width: 40px;
      margin-right: 10px;
      cursor: pointer;
}

.shoping-icon{
  background-position: 0 0;
  position: relative;
  .view-content{
    display: none;
  }
  .button-cart, .empty{
    background-color: #fff;
    color: $purple;
    border-radius: 50%;
    font-size: 0.8em;
    height: 19px;
    left: -2px;
    line-height: 1.2em;
    min-width: 19px;
    position: absolute;
    text-align: center;
    top: -6px;
  }
}

.man-icon{
  background-position: -50px 0;
  text-indent: -9999px;
}

/**************** edit product *********/

#edit-field-other, #edit-field-surface, #edit-field-material{
  display: none;
}

/**********************************/
/*           cart                 */
/**********************************/

.region-cart{
  @include res(small-medium){
    display: none;
  }
}

#block-commerce-cart-cart{
  transition: all 1s;
  -webkit-transition: all 1s;
  margin-left: -400px;
  position: fixed;
  height: 100%;
  z-index: 350;
  width: 400px;
  margin-right: 5px;
  padding: 10px;
  box-sizing:border-box;
  &.open{
    margin: 0;
  }
  .view-header{
    position: relative;
    float: right;
    top: -71px;
    .close-button{
      border: 1px solid;
      border-radius: 50%;
      cursor: pointer;
      font-size: 1.5em;
      height: 26px;
      padding-top: 2px;
      text-align: center;
      width: 28px;
    }
  }
  h2{
    border-bottom: 1px solid;
    font-weight: normal;
  }
    ul.links{
    width: 100%;
    left: 0;
    margin: 10px 0 0 ;
    li{
      width: 49%;
      float: left;
      text-align: center;
      padding: 0;
      a{
        color: #fff;
        padding: 10px 20px;
        display: block;
        box-sizing: border-box;
      }
    }
    li.first{
      margin-left: 2%;
      a{
        background: url("../images/add-to-cart.png") no-repeat 140% center;
        transition: all .5s;
        -webkit-transition: all .5s;
        &:hover{
          background: url("../images/add-to-cart.png") no-repeat center center;
          color: transparent;
        }
      }
    }
    li.last{
      a{
        background: url("../images/bag8.png") no-repeat 132% center;
        transition: all .5s;
        -webkit-transition: all .5s;
        &:hover{
          background: url("../images/bag8.png") no-repeat center center;
          color: transparent;
        }
      }
    }
  }
}


#block-commerce-cart-cart{
  left: 0;
  background-color: red;
  table{
    width:93%;
    margin: 30px auto;
    display: block;
    tbody{
      width: 100%;
      display: block;
    }
    tr.even, tr.odd{
      background-color: transparent;
      display: block;
    }
    td{
      margin-left: 10px;
      display: inline-block;
      padding-top: 15px;
      padding-bottom: 10px;
    }
    .views-field-quantity{
      margin-left: 0;
    }
    .views-field-field-product-defult-image{
      padding: 5px 0;
    }
    .views-field-line-item-title{
      width: 160px;
      line-height: 1em;
      padding-top: 20px;
    }
    .views-field-commerce-total{
      margin-left: 0;
    }
  }
}

/****************   product page *************/

.node-type-product{
  #page-title{
    color: $purple;
  }
  .field-name-commerce-stock{
    font-style: 2em;
    font-weight: lighter;
  }
}

.field-name-field-imgs{
  float: left;
  max-width: 500px;
  width: 100%;
  .field-slideshow-controls{
      .flex{
        right: 0;
        background-position: -18px 0;
      }
      .flex{
        left: 0;
        background-position: 12px 0;
      }
      a{
          background: url("../images/gallery_arrows.png") no-repeat;
          display: block!important;
          opacity: 1!important;
          text-indent: -9999px;
          position: absolute;;
      }
  }
}